$mainFont: 'Abril Fatface', cursive;
$regFont: 'Quicksand', sans-serif;

header{
	width:90%;
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: $mainFont;
}

.container{
	display:flex;
	justify-content:center;
	align-items:center;	
	margin:0 auto;
	font-family: $regFont;
}

.operation{
	width:90%;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
}

.btn-primary{
	border-radius:5px;
	padding:10px 15px;
	margin-right:10px;
	border:none;
	&:hover{
		background-color:lightblue;
		border:none;
	}
}

// Number Matrices 

.choosingMatrices{
	padding:20px 30px 35px 30px;
}

.btnMatrices{
	border-radius: 5px;
	padding:15px 20px;
	font-size: 25px;
	margin-right:15px;
	border:none;
	outline:none;
	&:hover{
		background-color:lightblue;
		border:none;
	}
}

.numMatrixSelected{
	border-radius: 5px;
	padding:15px 20px;
	font-size: 25px;
	margin-right:15px;
	border:none;
	background-color:lightblue;
	color:white;
	outline:none;
}

// E R R O R S

.errorOne{
	flex-direction:column;
	padding:20px 10px 30px 10px;
}

// DATA ENTRY 

//Adding

.enteringData{
	display:flex;
	flex-direction:column;
}

.rowsNum, .columnNum{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-bottom:30px;
	h4{
		margin:0 20px 0 0;
	}
}

.unselectedBtn{
	border-radius:5px;
	padding:10px 15px;
	margin-right:10px;
	border:none;
	font-size:25px;
	&:hover{
		background-color:lightblue;
		border:none;
	}
}

.selectedBtn{
	border-radius:5px;
	padding:10px 15px;
	margin-right:10px;
	border:none;
	font-size:25px;
	background-color:lightblue;
	color:white;
}

//COLUMNS
.inputFields{
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	list-style: none;
}

.colDesign{
	width:30px;
	height:30px;
	margin-right:10px;
	border-radius:5px;
}

//ROWS

.displayRow{
	display: flex;
	flex-direcion:row;
	justify-content:center;
	align-items:center;
}
